#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  height: 64px;
}

#logo {
  width: 150px;
}

.containerIcones {
  width: 90px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.icones {
  width: 45px;
}